# Настройки HTTP сервера
HOST=0.0.0.0
PORT=8080
WRITE_TIMEOUT=15s
READ_TIMEOUT=15s

# Настройки PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword
POSTGRES_HOST=db
POSTGRES_DB=app_db

# Apidog: нужны только для make generate
APIDOG_TOKEN=
APIDOG_BRANCH_ID=
